body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
.visible{
  display: block !important;
}
a {
  text-decoration: none;
}

header {
  width: 100vw;
  color: white;
  height: 8vh;
  background: #1a1d20;

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      margin: 0;
      width: 40%;
      list-style-type: none;
      display: flex;


    }

    ul:first-child {
      justify-content: start;

      li {
        padding-right: 5%;
      }
    }

    ul:last-child {
      padding-left: 2%;
      justify-content: end;

      li {
        padding-right: 5%;
      }
    }
  }

}

.mainFragment{
  margin-bottom: 20vh;
}

main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  main {
    width: 100%;
    display: flex;
    flex-direction: row;
  }


  /*  fragment 01*/
  main:nth-child(1) {
    height: 100px;
    align-items: center;
    box-shadow: 2px 0 2px black;
    background: #ffffff;

    div {
      padding-left: 5%;
    }

  }


}

/*  fragment 02*/
.fragment-02 {
  width: 100%;
  height: 50vh;
}

.fragment-02 > section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4{
    width: 100%;
    text-align: center;
   padding-bottom: 15px;
  }
  section {
    width: 70%;
    display: flex;
    height: 70%;
/*  div:nth-child(1){
      background: greenyellow;
  }
    div:nth-child(2){
    background: pink;
    }
    div:nth-child(3){
    background: cornflowerblue;
    }
    div:nth-child(4){
      background: lightcoral;
    }*/
    div{
      background-color: #2b2b2b !important;
    }
    div:hover{
      box-shadow: 0 0 10px #e80ae8;
      transition:all 1s;
    }
    div {
      height: 40%;
      width: 100%;
      margin: 2px;
      border: black solid 1px;
      display: flex;
      align-items: center;
      border-radius: 12px;
      cursor: pointer;


      p {
        width: 100%;
        color: white;
        font-weight: bold;
        text-shadow: 0 0 10px black;
        text-align: center;
        font-size: 1.5em;
      }
      p:hover{
        color: #bb0b63;
      }
    }
  }
}

/*  fragment 03*/

.fragment-03 {
  width: 100%;
  height: 50vh;
  display: flex;

}

.fragment-03 > section {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.fragment-03 > section > section {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fragment-03 > section > section > :nth-child(1) {
  p, h4 {
    text-align: center;
  }
}

.fragment-03 > section > section > :nth-child(2) {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.fragment-03 > section > section > :nth-child(2) > section {
  width: 100%;
  height: 50px;
  display: flex;

  aside:nth-child(1) {
    width: 30%;
    font-weight: bold;
    *{
      font-weight: bold;
    }
  }

  aside:nth-child(2) {
   *{
    font-weight: bold;
   }

    width: 25%;
  }

  aside:nth-child(3) {
    width: 35%;
    height: 100%;
    box-shadow: 0 0 1px black;
    border-radius: 4px;
    margin-left: 1px;
    position: relative;
    cursor: pointer;

    p {
      width: 100%;
      padding-top: 15px;
      padding-left: 10px;
    }

    .option-body {
      display: none;
      position: absolute;
      background-color: white;
      width: 100%;
      margin-top: 5px;
      z-index: 100;
      padding-top: 5px;
      height: 250px;
      margin-left: -1px;
      box-shadow: 0 0 2px #070707;
      border-radius: 5px;
      flex-direction: column;

      section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          width: 50%;
          text-align: center;
          font-size: 1em;
        }

        aside {
          width: 49%;
          height: 45px;
          margin: 5px;
          display: flex;
          align-items: center;
          border: #312e2e solid 1px;
          border-radius: 5px;

          h3 {
            width: 50%;
            color: #15a5d3;
            text-align: center;
            cursor: pointer;
          }
        }
      }

    }
  }


  aside:nth-child(4) {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a58ca;
    cursor: pointer;

    p {
      text-align: center;
      margin: 0;
      font-weight: bold;
      color: white;
    }
  }
}


#accountModelSection{
  display: flex;
  flex-direction: column;
  p{
    display: flex;
    justify-content: space-between;
    span{
      width:50%;
    }
  }
  p>:first-child{
    font-weight: bold;
    padding-left: 10%;
  }
  p>:last-child{
    color: rgba(0, 0, 255, 0.66);
    cursor: pointer;
    margin-left: 5px;
  }
  input{
    border: none !important;
    width:50%;
  }
  p>:last-child:hover{
    text-decoration: underline blue;
  }

  button{
    display: none;
    width: fit-content;
    align-self: end;
    margin-right: 25%;
  }
input:focus{
  background-color: rgba(128, 128, 128, 0.34);
outline: 0;

}

}
.fragment-mainImage{
  background-image: url("../../img/backfound1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  color: white;
  text-shadow: 0 0 10px black, 0 0 10px black;

  section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    section {
      height: 100px;
    }
    h1:hover,h2:hover{
      color: deeppink;
    }
  }
}